.button {
    background-color: #71EC4C;
}

.container {
    justify-content: center;
    display: flex;
    margin-top: 2%;
}

.margins {
    margin-left: 1%;
    margin-right: 1%;
}

.icon {
    margin-right: 20%;
}